@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    <link rel="stylesheet" href="@Url.Content("~/css/settings.css")" />

}
<ul class="nav nav-pills flex-column gap-2 h-100 w-100 p-3 border-end" style="border-color:var(--black) !important;">
    <li class="nav-item"><a class="settingsItem nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><i class="fa-solid fa-user me-2"></i> Profile</a></li>
    <li class="nav-item"><a class="settingsItem nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email"><i class="fa-solid fa-envelope me-2"></i> Email</a></li>
    <li class="nav-item"><a class="settingsItem nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><i class="fa-solid fa-lock me-2"></i> Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="settingsItem nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="settingsItem nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication"><i class="fa-solid fa-shield-halved me-2"></i> Two-factor authentication</a></li>
    <li class="nav-item"><a class="settingsItem nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData"><i class="fa-solid fa-database me-2"></i> Personal data</a></li>
</ul>
